<html xmlns:th="http://www.thymeleaf.org" >
    <head></head>
    <body>
        <!-- <div th:if="${param.success}">
            <p>Registration Complete.</p>
        </div>
        <div th:if="${param.error}">
            <p>Invalid username or password.</p>
        </div> could add to controller later-->
        <form method="post" th:action="@{/register}">
            <input name="username" placeholder="Username">
            <input name="password" type="password" placeholder="Password">
            <button type="submit">Register</button>
        </form>
    </body>
    
</html>
<!-- names must match @RequestParam on the controller -->
 <!-- Might need CSRF token not sure -->


 <!-- param is the built in expression object, it gives us read access to the current requests query string paramaters like ?key=value of the url -->


 <!-- xmlns, the XML namespace  -->

 <!-- @{}  thymeleaf url-->