<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{fragments/layout :: layout(~{::main})}">
<head>
    <title>Register</title>
</head>
<body>

    <main>
        <h3>Create an Account</h3>

        <div th:if="${param.error}">
            <p style="color: red;">Registration failed. Username may already be taken or inputs were invalid.</p>
        </div>

        <div th:if="${param.success}">
            <p style="color: green;">Registration complete! You can now log in.</p>
        </div>

        <form th:action="@{/register}" method="post">
            <div>
                <input name="username" placeholder="Username" required>
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" required>
            </div>
            <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
    </main>

</body>
</html>